<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="advanceprog.My.MySettings.tbl1ConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=tbl1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="advanceprog.My.MySettings.Database2ConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Database2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>